@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные кастомные стили */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}
